{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
<div class="container">
    <h1>Projects</h1>

    <table id="projects" class="table table-striped" width="100%"></table>
</div>
{% endblock %}


{% block javascripts %}
<script type="text/javascript">
$(document).ready(loadProjects);
</script>
{% endblock %}